@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.txt_purple { color: #993399; }

.txt_green { color: #96c833; }

.caps { text-transform: uppercase; }

.btn_purple { background-color: #993399; color: white; }

.btn_green { background-color: #96c833; }

.btn_skype { background-color: #3e9dd7; color: white; }

.btn_w_145 { width: 145px; }

.btn_w_170 { width: 170px; }

.btn_w_250 { width: 250px; }

.btn_w_300 { width: 300px; }

.btn_bg { background-color: transparent; border: 1px solid; }

.btn { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; text-align: center; height: 30px; font-size: 1.167em; cursor: pointer; }

i.loc { background: url('../img/icons-s674b91ebc4.png') 0 -186px no-repeat; width: 12px; height: 16px; }

i.map { background: url('../img/icons-s674b91ebc4.png') 0 -323px no-repeat; width: 16px; height: 15px; }

i.heart { background: url('../img/icons-s674b91ebc4.png') 0 -114px no-repeat; width: 16px; height: 14px; }

html { font-size: 75%; }

body { font-family: "Open Sans", Arial, sans-serif; font-size: 1em; line-height: 1.4; }

.inn { *zoom: 1; width: 85%; margin: 0 auto; }
.inn:after { content: " "; display: table; clear: both; }

.header { width: 100%; }
.header__menu { background-color: #333333; position: relative; *zoom: 1; }
.header__menu .inn { position: relative; }
.header__menu:after { content: " "; display: table; clear: both; }
.header__menu .menu_i { display: inline-block; vertical-align: middle; }
.header__menu .humb { background-color: #4d4d4d; padding: 9px 0; width: 42px; cursor: pointer; }
.header__menu .humb div { width: 26px; height: 3px; margin: 4px auto; background-color: white; }

.nav { position: absolute; right: 0; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.nav li { display: inline-block; margin-left: 20px; color: white; font-size: 1.167em; }
.nav li i { display: inline-block; position: relative; top: 3px; display: inline-block; padding-right: 10px; }
.nav li a { color: white; font-size: 1.167em; }

.menu_txt { color: #666666; font-size: 1.167em; }

.header__mid { padding-bottom: 35px; margin-top: 13px; -moz-box-shadow: 0 0 1; -webkit-box-shadow: 0 0 1; box-shadow: 0 0 1; }

.header__mid-logo { display: table-cell; width: 25%; float: left; }
.header__mid-logo button { margin-top: 35px; width: 90%; }

.btn_show { position: relative; padding-left: 15px; font-size: 1.167em; }
.btn_show i { display: inline-block; position: absolute; left: 17px; top: 6px; background: url('../img/icons-s674b91ebc4.png') 0 -463px no-repeat; width: 16px; height: 16px; }

.header__mid-about { display: table-cell; width: 48%; float: left; padding-top: 20px; padding-left: 2%; }
.header__mid-about p { font-weight: 100; font-size: 2em; line-height: 1.2em; margin-left: 0.7%; }
.header__mid-about_btns { margin-top: 34px; }
.header__mid-about_btns .header__mid-about_btn { margin-right: 2%; width: 28%; }

.header__mid-call { padding-top: 11px; display: table-cell; width: 24%; float: right; }
.header__mid-call .number__h { font-size: 2.667em; }
.header__mid-call .number__foo { font-size: 1.167em; color: #999b9e; }
.header__mid-call_btns { margin-top: 36px; }

.btn_call { position: relative; text-align: right; padding-right: 15px; }
.btn_call i { display: inline-block; position: absolute; left: 15px; background: url('../img/icons-s674b91ebc4.png') 0 -437px no-repeat; width: 16px; height: 16px; }

.btn_skype { position: relative; width: 75px; text-align: left; padding-left: 5px; }
.btn_skype i { display: inline-block; position: absolute; top: 0; background: url('../img/icons-s674b91ebc4.png') 0 -371px no-repeat; width: 30px; height: 30px; }

.search { width: 230px; color: white; padding: 0 10px; text-align: justify; background-color: #292828; -moz-box-shadow: 0 0 4px #212020 inset; -webkit-box-shadow: 0 0 4px #212020 inset; box-shadow: 0 0 4px #212020 inset; border-bottom: 1px solid #3d3d3d; background-image: url("../img/icons/search.png"); background-repeat: no-repeat; background-position: 230px; text-indent: 5px; }
.search:-moz-placeholder, .search::-moz-placeholder { color: #666666; opacity: 1; }
.search::-webkit-input-placeholder { color: #666666; }

.logo_wrap { width: 100%; }

.logo__img { display: block; max-width: 100%; height: 100%; }
.logo__img img { width: 100%; max-width: 271px; }

.header__foo { background-color: #ecf0f1; padding-bottom: 45px; padding-top: 35px; -moz-box-shadow: 0 4px 4px -3px #d0d3d4 inset; -webkit-box-shadow: 0 4px 4px -3px #d0d3d4 inset; box-shadow: 0 4px 4px -3px #d0d3d4 inset; }
.header__foo section { width: 24%; display: inline-block; vertical-align: top; }
.header__foo section h2 { font-size: 2em; font-weight: 700; color: #333333; }
.header__foo section h2:not(:first-child) { padding-top: 30px; }
.header__foo section h5 { padding-top: 30px; font-size: 1.167em; }
.header__foo section a { font-size: 1.167em; color: #666666; text-decoration: none; }

.footer { background-color: #ecf0f1; }
.footer .logo__img, .footer .footer__copy, .footer .footer__shar { display: inline-block; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 25%; }
.l .l-col2 { float: left; width: 25%; }
.l .l-col3 { float: left; width: 25%; }
.l .l-col4 { float: left; width: 25%; }

.base { background-image: url("../img/base_bg.png"); -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; padding-bottom: 30px; }

.base_h { font-size: 2.3em; text-align: center; font-weight: 100; color: white; padding: 50px 0; }
.base_h b { font-weight: 700; }

.base__form { background-color: white; -moz-box-shadow: 0px 0px 0 1px #cccccc inset; -webkit-box-shadow: 0px 0px 0 1px #cccccc inset; box-shadow: 0px 0px 0 1px #cccccc inset; }
.base__form_nav { width: 100%; }
.base__form_nav ul { width: 100%; display: table; }
.base__form_nav ul li { display: table-cell; width: 25%; -moz-box-shadow: -1px -1px 0 0px #cccccc inset; -webkit-box-shadow: -1px -1px 0 0px #cccccc inset; box-shadow: -1px -1px 0 0px #cccccc inset; height: 45px; }
.base__form_nav ul li:last-child a.is-active { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.base__form_nav ul li a { display: table-cell; width: 100%; padding-top: 5px; height: 100%; text-indent: 5%; color: #323232; display: inline-block; font-weight: 100; font-size: 2em; text-decoration: none; }
.base__form_nav ul li a.is-active { background-color: #323232; color: white; position: relative; -moz-box-shadow: -1px 0px 0 0px #cccccc inset; -webkit-box-shadow: -1px 0px 0 0px #cccccc inset; box-shadow: -1px 0px 0 0px #cccccc inset; }
.base__form_nav ul li a.is-active:after { content: ""; position: absolute; bottom: -8px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 0px; height: 0px; border-style: solid; border-width: 8px 8px 0 8px; border-color: #323232 transparent transparent transparent; }

.base__form_main { margin-top: 55px; padding: 0 30px 33px; }

.input_item { border: 0; -moz-box-shadow: 0 0 0 1px #cdcdcd; -webkit-box-shadow: 0 0 0 1px #cdcdcd; box-shadow: 0 0 0 1px #cdcdcd; height: 32px; text-indent: 5%; }

.base_top { width: 100%; text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.base_top:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.base_top .input_item { width: 22%; }

.base_bottom { margin-top: 40px; text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; width: 100%; }
.base_bottom:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.base_bottom .input_item { width: 13%; }
.base_bottom .form__submit { color: white; background-color: #333333; width: 8%; }

.container { background-color: #ecf0f1; }

.container__header { width: 100%; padding: 30px 0; text-align: justify; vertical-align: middle; }
.container__header h2 { font-size: 1.9em !important; color: #333333; }
.container__header_entry { font-size: 1.167em; height: 30px; line-height: 30px; color: #333333; }
.container__header_entry_nav { float: right; }
.container__header_entry .input_item { width: 50%; float: right; }
.container__header .container__header_nav { display: inline-block; }
.container__header .container__header_nav li { width: 30px; height: 30px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.container__header .container__header_nav li a { width: 100%; height: 100%; display: block; background-color: #cccccc; position: relative; text-align: center; }
.container__header .container__header_nav li a i { display: inline-block; position: absolute; top: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.container__header .container__header_nav li a.inf i { background: url('../img/icons-s674b91ebc4.png') 0 -162px no-repeat; width: 19px; height: 14px; }
.container__header .container__header_nav li a.sqr i { background: url('../img/icons-s674b91ebc4.png') 0 -411px no-repeat; width: 16px; height: 16px; }
.container__header .container__header_nav li a.loc_b i { background: url('../img/icons-s674b91ebc4.png') 0 -212px no-repeat; width: 15px; height: 20px; }

.content { width: 100%; margin: 0 auto; }
.content > div:last-child .item { margin-right: 0 !important; }

.entry { width: 100%; }

.item { width: 270px; margin-right: 20px; max-width: 270px; background-color: white; margin-bottom: 20px; }
.item__img { width: 100%; position: relative; line-height: 0; *zoom: 1; }
.item__img:after { content: " "; display: table; clear: both; }
.item__img img { width: 100%; }
.item__img .item__info { height: 100%; *zoom: 1; }
.item__img .item__info:after { content: " "; display: table; clear: both; }
.item__img .item__info > p { width: 50%; height: 30px; vertical-align: middle; line-height: 30px; display: inline-block; text-align: center; position: absolute; }
.item__img .item__info_id { background-color: #993399; font-size: 1.167em; color: white; }
.item__img .item__info_id .txt_green { color: #99ff00 !important; }
.item__img .item__info_share { right: 0; background-color: #ffff66; color: #333333; }
.item__img .item__info_descr { width: 100%; height: 30px; line-height: 30px; position: absolute; bottom: 0; color: white; background-color: rgba(0, 0, 0, 0.5); *zoom: 1; }
.item__img .item__info_descr:after { content: " "; display: table; clear: both; }
.item__img .item__info_descr p.staff { float: left; padding-left: 5%; }
.item__img .item__info_descr p.square { float: right; padding-right: 5%; }
.item__img .item__info_descr p.square i { display: inline-block; position: relative; top: 3px; padding-right: 5px; background: url('../img/icons-s674b91ebc4.png') 0 -30px no-repeat; width: 16px; height: 16px; }
.item__img .item__info_descr p.square sup { position: relative; top: -0.7em; font-size: 0.5em; }
.item__about { padding-top: 16px; padding-bottom: 28px; padding-left: 5%; }
.item__about_head { font-size: 1.167em; padding-bottom: 25px; }
.item__about_head sup { font-size: 0.5em; position: relative; top: -0.7em; }
.item__about_description { font-size: 1em; color: #333333; padding-bottom: 23px; }
.item__about_price { *zoom: 1; }
.item__about_price:after { content: " "; display: table; clear: both; }
.item__about_price_main { font-size: 1.5em; font-weight: 700; float: left; }
.item__about_price .item_about_add { float: right; padding-right: 5%; position: relative; top: 3px; }
.item__about_price .item_about_add i { display: inline-block; position: relative; top: 2px; background: url('../img/icons-s674b91ebc4.png') 0 -138px no-repeat; width: 16px; height: 14px; }
