.content-box-catalog
	padding-top: 63px 
	background-color: #ecf0f1 
	.content_box__main
		.item
			width: 33% 
		.content.list
			.item
				width: 100%
				&__about
					padding-left: 5%
		.container__header_item
			display: inline-block
			width: 33%
			font-size: 0
			.container__header_entry
				line-height: 40px
	.company__sidebar
		.company__item
			position: relative
			margin: 0 0 35px 30px 
			span
				position: absolute
				left: -30px 
			.company__content
				margin-left: 0
				li.caps
					padding-top: 20px
					&:hover
						background-color: transparent 
		.company__banner
			margin-bottom: 20px