// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

//color
$purple: #993399
$green: #96c833
$skype: #3e9dd7

// text
.txt_purple
	color: $purple
.txt_green
	color: $green
.caps
	text-transform: uppercase
	
//button
.btn_purple
	background-color: $purple
	color: #fff
.btn_green
	background-color: $green 
.btn_skype
	background-color: $skype 
	color: #fff
.btn_w_145
	width: 145px
.btn_w_170
	width: 170px  
.btn_w_250
	width: 250px 
.btn_w_300
	width: 300px
.btn_bg
	background-color: transparent
	border: 1px solid  
.btn
	+border-radius(20px)
	text-align: center
	padding: 5px 0 
//font
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700")
body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4

// common blocks      
.header
	











































































































