// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

//color
$purple: #993399
$green: #96c833
$skype: #3e9dd7

// text
.txt_purple
	color: $purple
.txt_green
	color: $green
.caps
	text-transform: uppercase
	
//button
.btn_purple
	background-color: $purple
	color: #fff
.btn_green
	background-color: $green 
.btn_skype
	background-color: $skype 
	color: #fff
.btn_w_145
	width: 145px
.btn_w_170
	width: 170px  
.btn_w_250
	width: 250px 
.btn_w_300
	width: 300px
.btn_bg
	background-color: transparent
	border: 1px solid  
.btn
	+border-radius(20px)
	text-align: center
	height: 30px
	font-size: 1.167em  
	cursor: pointer 
// sprite
i.loc
	+s(loc)
i.map
	+s(map)
i.heart
	+s(heart) 
//font
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700")
html
	font-size: 75% 
body
	font-family: "Open Sans", Arial, sans-serif 
	font-size: 1em
	line-height: 1.4

// common blocks
.inn
	+clr
	width: 80%
	margin: 0 auto        
.header
	width: 100%
	&__menu
		background-color: #333
		position: relative
		.inn
			position: relative
		+clr
		.menu_i
			display: inline-block
			vertical-align: middle
		.humb
			background-color: #4d4d4d
			padding: 9px 0
			width: 42px 
			cursor: pointer
			div
				width: 26px 
				height: 3px 
				margin: 4px auto
				background-color: #fff 
.nav
	position: absolute
	right: 0 
	top: 50%
	+translate(0, -50%) 
	li
		display: inline-block
		margin-left: 20px
		color: #fff 
		font-size: 1.167em 
		i
			display: inline-block
			position: relative
			top: 3px
			display: inline-block
			padding-right: 10px 
		a
			color: #fff
			font-size: 1.167em 
.menu_txt
	color: #666 
	font-size: 1.167em 
.header__mid
	padding-bottom: 35px 
	margin-top: 13px
	+box-shadow(0 0 1)
.header__mid-logo
	display: table-cell
	width: 25%
	float: left
	button
		margin-top: 35px
		width: 90% 
.btn_show
	position: relative
	padding-left: 15px 
	font-size: 1.167em
	i
		display: inline-block
		position: absolute
		left: 17px 
		top: 6px 
		+s(view)
.header__mid-about
	display: table-cell
	width: 48%
	float: left
	padding-top: 20px 
	padding-left: 2% 
	p
		font-weight: 100 
		font-size: 2em 
		line-height: 1.2em
		margin-left: 0.7%  
	&_btns
		margin-top: 34px
		.header__mid-about_btn
			margin-right: 2%
			width: 28%  
.header__mid-call
	padding-top: 11px
	display: table-cell
	width: 24%
	float: right
	.number__h
		font-size: 2.667em
	.number__foo
		font-size: 1.167em 
		color: #999b9e
	&_btns
		margin-top: 36px
.btn_call
	position: relative
	text-align: right
	padding-right: 15px 
	i
		display: inline-block
		position: absolute
		left: 15px
		+s(user)
.btn_skype
	position: relative
	width: 75px
	text-align: left
	vertical-align: middle
	padding-left: 5px 
	i
		display: inline-block
		position: absolute
		top: 0
		+s(skype)
.search
	width: 230px 
	color: #fff
	padding: 0 10px 
	text-align: justify
	+placeholder-color(#666)
	background-color: #292828
	+box-shadow(0 0 4px #212020 inset)
	border-bottom: 1px solid #3d3d3d
	background-image: url('../img/icons/search.png')
	background-repeat: no-repeat
	background-position: 230px
	text-indent: 5px 
.logo_wrap
	width: 100% 
.logo__img
	// width: 100% !important
	display: block
	max-width: 100% 
	height: 100% 
	img
		width: 100% 
		max-width: 271px 	

.header__foo
	background-color: #ecf0f1
	padding-bottom: 45px
	padding-top: 35px
	+box-shadow( 0 4px 4px -3px #d0d3d4 inset)
	section
		width: 24%
		display: inline-block
		vertical-align: top
		h2
			font-size: 2em
			font-weight: 700
			color: #333 
			&:not(:first-child)
				padding-top: 30px 
		h5
			padding-top: 30px 
			font-size: 1.167em 
		a
			font-size: 1.167em 
			color: #666666
			text-decoration: none
	

		 	

.footer
	background-color: #ecf0f1
	.logo__img, .footer__copy, .footer__shar
		display: inline-block
