// default layout
.l
	+clr
	.l-col1
		// display: inline-block
		float: left
		width: 25%
		+tablet
			width: 49%
			padding-left: 1%
			// float: left
			display: inline-block
			// float: none
		+r(445)
			width: 100%
			padding-left: 0
		
	.l-col2
		// display: inline-block
		float: left
		width: 25%
		+tablet
			width: 49%
			// float: right
			display: inline-block
			// float: none
		+r(445)
			width: 100%
	.l-col3
		// display: inline-block
		float: left
		width: 25%
		+tablet
			width: 49%
			padding-left: 1%
			// float: left
			display: inline-block
			// float: none
		+r(445)
			width: 100%
			padding-left: 0
	
	.l-col4
		// display: inline-block
		float: right
		width: 25%
		+tablet
			width: 49%
			// float: right
			display: inline-block
			// float: none
		+r(445)
			width: 100%
	