// default layout
.l
	+clr
	.l-col1
		// display: inline-block
		float: left
		
		width: 25%
		
	.l-col2
		// display: inline-block
		float: left
		width: 25%
	.l-col3
		// display: inline-block
		float: left
		width: 25%
	
	.l-col4
		// display: inline-block
		float: left
		width: 25%
	